<nav aria-label="breadcrumb" style="margin-top: 10px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/products">Products</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Cart</li>
  </ol>
</nav>

<section style="margin: auto; border: 1px solid black; width: 40%; margin-top: 20px;">
  <h2 class="invoice-title"> Invoice </h2>
  <div class="invoice-container">

        <%# Declare Variables %>
        <% @total = 0 %>
        <% @quantity = 1 %>
        <% @quantityAmount = 0 %>

        <%# Billing Information %>
        <div class="billing-information">
            <h5 class="lead">Billing Information</h5>
            <a><%= current_user.name %></a>
            <a><%= current_user.email %></a>
            <a><%= current_user.address %></a>
            <a><%= current_user.province_id %></a>
            <p></p>
        </div>

        <%# Items Purchased %>
        <div class="invoice">
        <h5 class="lead">Order</h5>
            <div class="invoiceBody">
                <% @cart.each do |product| %>
                    <% @total += (product.price) %>
                <%= hidden_field_tag(:product_id, product.id) %>

                <div class="row d-fex justify-content-between align-items-center">
                    <div class="col">
                        <a><%= product.name %> $<%= product.price%></a>
                    </div>
                </div>

                <% end %>

            </div>
            <p class="invoiceTotal"><strong>Total:</strong> $<%= @total%></p>
        </div>

  </div>
</section>