<p style="color: green"><%= notice %></p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/categories">Category</a></li>
    <li class="breadcrumb-item active" aria-current="page">Products</li>
  </ol>
</nav>
<h1 class="product-title">Products</h1>

<h4 class="product-title"> Available Stock </h4>
<div class="row">
  <% @products.each do |product| %>
    <% if product.quantity > 0 %>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <% if product.image.present? %>
              <figure class="image">
                <%= image_tag product.image, style: 'height: 200px; width: 100%;' %>
              </figure>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= link_to product['name'], product %></h5> 
                <strong class="card-text"> $<%= product.price %></strong>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>

<h4 class="product-title"> Out of Stock </h4>
<div class="row">
  <% @products.each do |product| %>
    <% if product.quantity <1 %>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <% if product.image.present? %>
              <figure class="image">
                <%= image_tag product.image, style: 'height: 200px; width: 100%;' %>
              </figure>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= link_to product['name'], product %></h5>
                <strong class="card-text"> $<%= product.price %></strong>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>

<% @products.each do |product| %>
    <div class="product-category">
      Category:
      <%= product.category.name %>
    </div>
    <div class="product-text">
      <h2 class="product-title"> <%= product.name %></h2>
      <h3 class="product-price">£<%= product.price %></h3>
    </div>
<% end %>